* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #b5edf5;
  text-align: center;
}

div {
  padding: 10px;
}

div label {
  font-size: large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  float: left;
}

div input {
  font: large;
  float: right;
  width: 40vw;
}

button {
  width: 100%;
}

.main-card {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10%;
}

h1 {
  color: rgb(55, 6, 100);
}

input,
label {
  color: darkblue;
}

input {
  padding: 2px;
}